body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Material UI override styles

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
  border: 1px solid #fff !important;
}

.css-19idom {
  margin-bottom: 0 !important;
}

.css-1iz24ed-MuiChip-root {
  color: #fff !important;
  background-color: rgba(39, 102, 153, 0.959) !important;
  width: fit-content !important;
}

.MuiSelect-select {
  padding: 8.5px 30px 8.5px 14px !important;
}

// config default style of React

a {
  color: currentColor !important;
  text-decoration: none;
}

a:active {
  color: currentColor !important;
}
a:visited {
  color: currentColor !important;
}

//FOOTER stylesheet

.footer_container {
  display: flex;
  justify-content: between;
  align-items: center;
}

.otherContact {
  display: flex;
  ul {
    width: 100%;
    display: flex;
    padding: 0;

    li {
      list-style: none;
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer_container {
    flex-flow: column;
    justify-content: center;
    align-items: between;
  }

  .otherContact {
    ul {
      width: 100%;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        padding: 0.5rem;
      }
    }
  }
}
